[submodule "lib/pico-display-lib"]
	path = lib/pico-display-lib
	url = https://github.com/embeddedboys/pico-display-lib.git
[submodule "lib/CherryUSB"]
	path = lib/CherryUSB
	url = https://gitee.com/sakumisu/CherryUSB.git
[submodule "lib/lz4"]
	path = lib/lz4
	url = https://github.com/lz4/lz4.git
